<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Soporte <%= @support.title %>.Comentario realizado por <%= @current_user.name %></h1>
    <p>Detalle:  </p>
    <p>
      <%= @comment.note %>.<br>
    </p>
    <p>
     Para revisarlo, ingrese al sistema. www....
    </p>
  </body>
</html>