body {
    padding-top: 70px;
}

#body-categories{
	color: #A09FA1;
	padding-top: 26px;
	font-size: 14px;
}

#colorName-cat{
	text-align: left;
	color: #ED564E;
	padding-top: 10px;
	font-size: 14px;
}