<% if current_user.admin? %>
 <li>item admin 1</li>
 <li>item admin 2</li>
<% end %>
<% if current_user.usuario? %>
 <li>item usuario 1</li>
 <li>item usuario 2</li>
<% end %>
<% if current_user.director? %>
 <li>item director 1</li>
 <li>item director 2</li>
<% end %>